{% extends 'prayag/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Prayag Tourism - Password Reset' %}{% endblock %}


{% block extra_head %}
<style type="text/css">
</style>
{% endblock extra_head %}


{% block main_content %}

<div class="container background-white">
  <div class="row margin-vert-30">
    <div class="col-md-6 col-md-offset-3">
      <h2><span class="center" style="text-decoration: underline;">{% trans 'Password Reset Complete' %}</span></h3>

        <p style="color:black; font-size: 18px" class="lead center">{% trans "Password reset succesful!" %}</p><br>
        <span class="center"><i class="fa fa-smile-o fa-4x"></i></span>
        <br>
        <p style="font-size: 18px;" class="center">You are Good to go</p>
        <table class="center">
          <tr>
            <td> 
              <a href="{% url 'login' %}" style="max-width: 300px;" class="btn btn-block btn-success center loginback" title="welcome back">
              {% trans 'Log in' %}</a>
            </td>    

          </tr>
        </table>

        <br>

      </div>
    </div>
  </div>
</div>


{% endblock main_content %}


{% block extra_js %}
{% endblock extra_js %}