{% load staticfiles %}
<div class="container background-gray-lighter">
    <section  id="about">
    <div class="container">
    <div class="row text-center"> 
    <div id="carousel-example-2" class="carousel slide alternative" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        <a href="http://up.gov.in/"><div class="col-md-3"><img  src="{% static 'img/gov.png' %}" style="max-width:100%;"></div></a>
        <a href="http://www.irctctourism.com/"><div class="col-md-3"><img src="{% static 'img/train.png' %}" style="max-width:100%;"></div></a>
        <a href="http://www.lucknow.gov.in/"><div class="col-md-3"><img src="{% static 'img/lko.jpg' %}" style="max-width:100%;"></div></a>
        <a href="http://www.ayodhya.gov.in/en/destination"><div class="col-md-3"><img src="{% static 'img/ayodha.jpg' %}" style="max-width:100%;"></div></a>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <a href="http://www.varanasi.gov.in/en/destination"><div class="col-md-3"><img src="{% static 'img/bhu.jpg' %}" style="max-width:100%;"></div></a>
        <a href="http://www.chitrakoot.gov.in/en/destination"><div class="col-md-3"><img src="{% static 'img/chitra.jpg' %}" style="max-width:100%;"></div></a>
        <a href="http://tajmahal.gov.in/"><div class="col-md-3"><img src="{% static 'img/taj.png' %}" style="max-width:100%;"></div></a>
        <a href="http://tourism.gov.in/"><div class="col-md-3"><img src="{% static 'img/tour.png' %}" style="max-width:100%;"></div></a>
        <a href="http://tourism.gov.in/"><div class="col-md-3"><img src="{% static 'img/tour.png' %}" style="max-width:100%;"></div></a>
        <a href="http://tourism.gov.in/"><div class="col-md-3"><img src="{% static 'img/tour.png' %}" style="max-width:100%;"></div></a>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
      </div>
      </div>
      </section><br>
      <br>
                </div>