{% extends "prayag/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block main_content %}

<!-- === BEGIN CONTENT === -->
<div id="content">
  <div class="container background-white">
    <div class="row margin-vert-30">
      <div class="col-md-12">
        <h2 class="text-center"><strong>{% trans "Acknowledgement" %}</strong></h2><br>
        <!-- Intro / Why Us? -->
        <div class="row">
          <h3 class="text-center"><strong>{% trans "District Administrations" %}</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Mr. Suhas LY IAS" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "District Magistrate Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Dr. R. Rajaganapathy IAS" %}</strong>&nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  {% trans "SDM Karchana , Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Mr. Anupam Srivastava" %}</strong> &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp {% trans "Regional Tourism Officer Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Mr. Vijay Kumar" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp {% trans "NIC Officer Allahabad" %}</h3><br>
          </div><br>
          <h3 class="text-center"><strong>{% trans "Mentors" %}</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Dr. A. K. Singh" %} </strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "Associate Professor , MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Dr. R. K. Singh" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "Dean Student welfare , MNNIT Allahabad" %}</h3><br>
          </div><br>
          <h3 class="text-center"><strong>{% trans "Web Team" %}</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Deepak Bharti" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Suraj Kumar Mall" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Sushant Oberoi" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Ritika Bharti" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Samyak Jain" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <h3 class="text-center"><strong>{% trans "Media House Of MNNIT (Official Media Group Of MNNIT)" %}</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Sanket Temani" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Naman Kishore" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Joydeep Haldar" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Sai Kumar Thunga" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Shashank" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Pratik" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Akash Patel" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Trisha Tiwari" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
          <h3 class="text-center"><strong>{% trans "DPM Originals" %}</strong></h3><br>
          <div class="col-md-3 animate fadeInLeft"></div>
          <div class="col-md-9 animate fadeInLeft">
            <h3><strong>{% trans "Divyanshu Mishra" %}</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {% trans "MNNIT Allahabad" %}</h3><br>
          </div><br>
        </div>
        
      </div>
      <!-- End Middle Text -->
    </div>
  </div>
</div>

{% endblock main_content %}


{% block extra_js %}
{% endblock extra_js %}
