{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>Weather </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
    <!-- <script src="./script.js"></script> -->
  </head>
  <body style = "
   background-repeat:no-repeat;

   background-size:cover;" background = "{% static 'assets/img/naini.jpg' %}">
    <input type="text" id="query" placeholder="Search for something...">
    <button id="search">Search</button>
  </body>
</html>
 

<script type="text/javascript"> 

$(document).ready(function() {

  $("#search").click(function() {
    var searchReq = $.get("/sendWeatherRequest/" + $("#query").val());
    searchReq.done(function(data) {
      print(data.result)
      window.location.href = data.result
    });
  });

});  

</script>