            <!-- Top Menu -->
            <div id="hornav" class="container no-padding">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="text-center visible-lg">
                            <ul id="hornavmenu" class="nav navbar-nav">
                                <li>
                                    <a href="index.html" class="fa-home">Home</a>
                                </li>
                                <li>
                                    <span class="fa-gears">About Allahabad</span>
                                    <ul>
                                        <li class="parent">
                                            <span>At Glance</span>
                                            <ul>
                                                <li>
                                                    <a href="features-typo-basic.html">Allahabad
                                                    Map</a>
                                                </li>
                                                <li>
                                                    <a href="features-typo-blockquotes.html">Blockquotes</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="parent">
                                            <span>Components</span>
                                            <ul>
                                                <li>
                                                    <a href="features-labels.html">Labels</a>
                                                </li>
                                                <li>
                                                    <a href="features-progress-bars.html">Progress Bars</a>
                                                </li>
                                                <li>
                                                    <a href="features-panels.html">Panels</a>
                                                </li>
                                                <li>
                                                    <a href="features-pagination.html">Pagination</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="parent">
                                            <span>Icons</span>
                                            <ul>
                                                <li>
                                                    <a href="features-icons.html">Icons General</a>
                                                </li>
                                                <li>
                                                    <a href="features-icons-social.html">Social Icons</a>
                                                </li>
                                                <li>
                                                    <a href="features-icons-font-awesome.html">Font Awesome</a>
                                                </li>
                                                <li>
                                                    <a href="features-icons-glyphicons.html">Glyphicons</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="features-testimonials.html">Testimonials</a>
                                        </li>
                                        <li>
                                            <a href="features-accordions-tabs.html">Accordions & Tabs</a>
                                        </li>
                                        <li>
                                            <a href="features-buttons.html">Buttons</a>
                                        </li>
                                        <li>
                                            <a href="features-carousels.html">Carousels</a>
                                        </li>
                                        <li>
                                            <a href="features-grid.html">Grid System</a>
                                        </li>
                                        <li>
                                            <a href="features-animate-on-scroll.html">Animate On Scroll</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="fa-copy">Plan Your Trip</span>
                                    <ul>
                                        <li>
                                            <a href="{% url 'layout' %}">Google Map</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'weather_layout' %}">Weather Info</a>
                                        </li>
                                        <li>
                                            <a href="pages-full-width.html">Distance Calculator</a>
                                        </li>
                                        <li>
                                            <a href="pages-faq.html">F.A.Q.</a>
                                        </li>
                                        <li>
                                            <a href="pages-about-me.html">About Me</a>
                                        </li>
                                        
                                        <li>
                                            <a href="pages-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="pages-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="pages-login.html">Login</a>
                                        </li>
                                        <li>
                                            <a href="pages-sign-up.html">Sign-Up</a>
                                        </li>
                                        <li>
                                            <a href="pages-404.html">404 Error Page</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="fa-th">Explore</span>
                                    <ul>
                                        <li>
                                            <a href="portfolio-2-column.html">Spiritual Places</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-3-column.html">Wildlife Sanctuaries</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-4-column.html">Museums</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-6-column.html">Monuments</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="fa-font">Stay And Visit</span>
                                    <ul>
                                        <li>
                                            <a href="blog-list.html">Hotels</a>
                                        </li>
                                        <li>
                                            <a href="blog-single.html">Restaurants</a>
                                        </li>
                                        <li>
                                            <a href="blog-single.html">Malls</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                <span class="fa-font">About Us</span>
                                <ul>
                                    <a href="contact.html" class="fa-comment">Contact</a>
                                </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Menu -->