input[type=text] {
	margin-top:15px;
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}


.center {
	display: flex; 
	align-items: center;
	justify-content: center;
}
.img {
	max-height: 350px; max-width: 400px; min-width: 400px; min-height: 350px;
} 
input[type=text]:focus {
	width: 200px;
}

