.typeahead, .tt-query, .tt-hint {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 1.2em;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  padding: 4px 12px;
  width: 150px;
}
.typeahead {
  background-color: #FFFFFF;
}
.typeahead:focus {
  border: 2px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
  color: #999999;
}

.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 8px 0;
  width: 350px;
  overflow:scroll;
  max-height: 400px;
}
.tt-suggestion {
  font-size: 1em;
  line-height: 20px;
  padding: 3px 20px;
  color: #008080;
}
.tt-suggestion { cursor: pointer; }

.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}

#search input[type="text"] {
    /*background: url("{% static 'assets/img/search.png' %}") no-repeat 10px 6px #fcfcfc;*/
    border: 1px solid #d1d1d1;
    font: 14px Arial,Helvetica,Sans-serif ;
    color: gray; #bebebe;
    width: 200px;
    height: 40px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
/*    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);*/
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    background-color: white;
    }


#search input[type="text"]:focus {
    width: 250px;
    background-color: white;
    }