{% load i18n %}{% autoescape off %}

{% blocktrans %}

Hey {{ user.get_username }}, forgot Password?, Take it easy, Just reset your password using the link given below,
{% endblocktrans %}


{% block reset_link %} 

{{ protocol }}://139.59.94.129{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Your username, in case you forgot, is :" %} {{ user.get_username }}


{% trans "Thanks for using our site! We are happy to help you." %} 

{% blocktrans %}Team PrayagTourism {{ site_name }}{% endblocktrans %}

{% endautoescape %}
 

